@media (max-width:1600px) {
    /* .sb-sidenav-dark {
        padding: 35px 30px 50px 25px;
    }
    #layoutSidenav #layoutSidenav_nav {
        flex-basis: 340px;
        transform: translateX(-385px);
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -320px;
    } */
}

@media (max-width:1440px) {
    /* .sb-sidenav-dark {
        padding: 35px 25px 50px 25px;
    }
    #layoutSidenav #layoutSidenav_nav {
        flex-basis: 250px;
    }
    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -250px;
    } */
}

@media (max-width:1200px) {

    body.sb-sidenav-toggled {
        visibility: hidden;
    }

    body.sb-sidenav-toggled .your-inner-content {
        visibility: visible;
    }

    button#sidebarToggle {
        display: block;
    }

    i.fa-solid.fa-xmark {
        display: block;
    }

    .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 1037;
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;
    }
    #layoutSidenav #layoutSidenav_content{
        margin-left: -339px;
    }

    i.fa-solid.fa-bag-shopping,
    i.fa-solid.fa-building {
        font-size: 16px;
    }

    .sb-nav-link-icon {
        width: 37px;
        height: 37px;
        padding: 7.667px;
    }

    .sidbar_text {
        font-size: 15px;
        margin-left: 3px;
    }

    .kafelki_container {
        flex-flow: row wrap !important;
    }

    .kafelki_item {
        margin: 15px auto !important;
    }

    .annual_property_box {
        display: flex;
    }
}

@media (max-width:1024px) {

    #layoutSidenav #layoutSidenav_content {
        margin-left: -340px;
    }

}

@media (max-width:991px) {
    .wrap {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width:450px) {
    section {
        padding: 0 15px;
    }
    .property_box {
        padding: 20px 8px 0 8px;
    }
    input.property_inner_input {
        width: 150px;
    }
    .property_input {
        gap: 7px;
    }
}
@media (max-width:320px) {
    .sb-sidenav-dark {
        padding: 58px 60px 50px 42px;
    }
    i.fa-solid.fa-xmark {
        top: 0.1%;
        right: 10%;
    }
}